@import "tailwindcss";

body {
    font-family: "Montserrat", sans-serif;
}

:root {
    --root-color: #151515;
    --work-panel-bg: black;
    --font-color: white;
    --secondary-color: #2E2E2E;
    --global-gray: #757575;
}